.icon_aplicacion, .icon_superficie {
    float: left;
    width: 60px;
    height: 60px;
    padding-top: 60px;
    font: normal 11px/15px Arial, sans-serif;
    text-align: center;
    margin: 0 5px;
    color: #000;
    cursor: pointer;
    border: solid #ccc 1px;
}

.pistola {
  background-image: url("/img/pistola.png");
}

.brocha {
  background-image: url("/img/brocha.png");
}

.rodillo {
  background-image: url("/img/rodillo.png");
}

.liso {
  background-image: url("/img/liso.png");
}

.rugoso {
  background-image: url("/img/rugoso.png");
}

.select {
  border:  1px solid #000;
}
